extends layout

block content
  h1= anime.title
  p.rating-big ★ #{anime.rating}/10
  form.inline(action=`/anime/${anime.id}/delete` method="POST")
    button.btn.danger(type="submit") Delete
  a.back(href="/") ← Back to list
