* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 30px;
  background: linear-gradient(135deg, #56ab2f 0%, #a8e6cf 100%);
      backdrop-filter: blur(60px);
          transition: all 0.4s ease;
}



.mainbox {
  background-color:steelblue;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
  background-color: lightcoral;
}

.nav-grid{
  grid-column-start: 1;
  grid-column-end: 4;
}

.nav-menu {
  background-color: slateblue;
  width: 100%;
  height: 30px;
  position:fixed;
  top: 1px;
}

ul > li {
  list-style-type: none;
  display: inline-block;
}
#divBox {
  background-color: aliceblue;
    width: 900px;
    position: sticky;
    top:20px;
    display: flex;
    height: 800px;


}
.red {
  background-color: lightcoral;
}
/* mobile 250px */
@media screen and (max-width:250px){
  #divBox {
    flex-direction: column;
  }
  .red {
    background-color: blue;
  }
}
/* table 400px */

.box {
  min-width: 100px;
  height: 25px;
  flex-grow: 1;
}



.blue {
  background-color: lightblue;
}

.green {
  background-color: lightgreen;
}

.yellow {
  background-color: lightgoldenrodyellow;
}


